<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NFL Forum</title>

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="container">
      <header>
        <h1>NFL Forum</h1>
        <a href="/topic/new">
          <button class="">Add New Topic</button>
        </a>
      </header>
      <section>
        <% topics.forEach((topic) => { %>
          <div id="topic-container">
            <a href="/topic/<%= topic.id %>">
              <h2><%= topic.title %></h2>
            </a>
              <p>Comments: <%= topic.comments_number %></p>
              <p>LIKES: <%= topic.likes %></p>
                <form action="/topic/<%= topic.id %>/topicLikes?_method=PUT" method="POST">
                  <input type="submit" value="LIKE">
                </form>
            </div>
          </div>
        <% }) %>
      </section>
    </div>
  </body>
</html>
