<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= topic.title %></title>
    <link rel="stylesheet" href="/style.css">

    <script src="https://use.fontawesome.com/bcfbf51388.js"></script>

    <script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="/main.js"></script>
  </head>
  <body>
    <div id="container">
      <header id="header-topic">
        <div class="back-to-index">

          <h1><%= topic.title %></h1>
          <a href="/topic">
            <input id="button" type="submit" value="Back to the Football Forum">
          </a>
        </div>
          <p><%= topic.content %></p>
      </header>
      <section>
        <form id="show-form" action="/topic/<%= topic.id %>" method="POST">
          <textarea name="comments[content]" rows="6" cols="60" placeholder="Use your words here..."></textarea><br>
          <input id="button" type="submit" value="Submit Comment">
        </form>

        <% comments.forEach((comment) => { %>
        <div id="comment-container">
          <p><%= comment.content %></p>
          <p id="username">Written By: <%= comment.username %></p>
          <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= comment.likes %></p>
            <form action="/topic/<%= topic.id %>/<%= comment.id %>?_method=PUT" method="POST">
              <input id="button" type="submit" value="LIKE">
            </form>
        </div>
        <% }) %>
      </section>
    </div>
  </body>
</html>
