<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= topic.title %> TOPIC</title>
  </head>
  <body>
    <main>
      <header>
        <h1><%= topic.title %></h1>
      </header>
      <section>
        <div class="topic-container">
          <h2>Title: <%= topic.title %></h2>
          <h2>Content: <%= topic.content %></h2>
          <h2>User Name: <%= topic.username %></h2>
          <p>LIKES: <%= topic.likes %></p>
          <form action="/topic/<%= topic.id %>/like?_method=PUT&show=true" method="POST">
              <input type="submit" value="LIKE">
          </form>
          <form class="" action="/topic/<%= topic.id %>/edit" method="GET">
            <input type="submit" value="EDIT">
          </form>
          <form class="" action="/topic/<%= topic.id %>?_method=DELETE"method="POST">
            <input type="submit" value="DELETE">
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
