<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= topic.title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="container">
      <header>
        <a href="/topic">
          <button class="">Back to NFL Forum</button>
        </a>
        <h1><%= topic.title %></h1>
        <p><%= topic.content %></p>
      </header>
      <section>
        <form action="/topic/<%= topic.id %>" method="POST">
          <textarea name="comments[content]" rows="6" cols="60"></textarea><br>
          <button class="" type="submit">Submit Comment</button>
        </form>

        <% comments.forEach((comment) => { %>
        <div id="comment-container">
          <p><%= comment.content %></p>
          <p id="username">Written By: <%= comment.username %></p>
          <p>Likes: <%= comment.likes %></p>
            <form action="/topic/<%= topic.id %>/<%= comment.id %>?_method=PUT" method="POST">
                <button type="submit">Like</button>
            </form>
        </div>
        <% }) %>
      </section>
    </div>
  </body>
</html>
